.random-outfit-generator-container { 
    font-family: Arial, sans-serif
    
  }
 
.randomgenerator-header {
    background: linear-gradient(to right, #f1e5ff, #fff0e7);
    padding: 1.5rem;
    text-align: center;
  }
  
.randomgenerator-header h1{
  font-family: "IM Fell French Canon SC", serif;
  font-weight: 400;
  margin: 0;
  margin-left: 2em;
  text-align: left;
  font-size: 27px;
}

.randomgenerator-header h2 {
  font-family: 'Cormorant Infant', serif;
  font-weight: 300;
}


.outfit-display {
    border: 1px solid #9f9797;
    padding: 20px;
    /* margin: 20px 0; */
}


  .auto-generate-button-container {
    display: flex;
    justify-content: center;
    align-items: center;
  }

.auto-generate-button{

    padding: 10px 20px;
    background-color: #000000;
    color: #fff;
    border: none;
    cursor: pointer;
    font-size: 15px;
    margin: 2rem;
    
}
.save-button-container{
    display: flex;
    justify-content: center;
    align-items:center;
    gap: 10px;
}

.save-button, .cancel-button{
    padding: 10px 20px;
    background-color: #000000;
    color: #fff;
    border: none;
    cursor: pointer;
    font-size: 15px;
    margin: 1rem;
}
.outfitname-save input{
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #a9a3a3;
    border-radius: 3px;
    font-size: 15px;
    text-align: center;
}
.outfitname-save{
    display: flex;
    flex-direction: column;
    margin: 10px auto;
    width: 60%; 
}
 
  /* Responsive design for smaller screens */
@media (max-width: 768px) {
  .items-container {
      grid-template-columns: 1fr; 
  }

  .item {
      margin: 1rem auto; /* Centers the items on smaller screens */
  }
}
