.overlay-menu {
    position: fixed;
    left: -100%; /* Start off the screen */
    top: 0;
    width: 250px; /* Width of the menu */
    height: 100%;
    background: black;
    transition: left 0.3s; /* Smooth transition for sliding in and out */
    z-index: 1000; /* High index to ensure it's on top */
  }
  
  .overlay-menu.open {
    left: 0; /* Slide in */
  }
  
  .menu-button {
    position: fixed;
    left: 10px;
    top: 10px;
    background: none;
    border: none;
    color: white;
    font-size: 2em;
    z-index: 1001; /* Above the overlay menu */
  }
  
  .close-menu {
    color: white;
    font-size: 1.5em;
    background: none;
    border: none;
    position: absolute;
    right: 20px;
    top: 20px;
  }
  
  .overlay-menu h2 {
    color: white;
    text-align: center;
    margin-top: 20px; /* Adjust as per your styling needs */
  }
  
  .overlay-menu nav ul {
    list-style: none;
    padding: 0;
    text-align: center;
  }
  
  .overlay-menu nav a {
    color: white;
    text-decoration: none;
    display: block;
    padding: 10px;
    transition: background 0.3s;
  }
  
  .overlay-menu nav a:hover,
  .overlay-menu nav a:focus {
    background: #333; /* A darker shade for hover state */
  }
  